.body-container {
  background-color: ghostwhite;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-container {
  
}

.site-container {
  max-width:900px;
  margin:auto;
}

.form-container {
  border-left: 10px solid MediumSlateBlue;
  background-color: white;
  box-shadow:0 0 10px 0 rgba(0,0,0,.2);
  -webkit-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
  -moz-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
  -ms-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
  -o-box-shadow:0 0 10px 0 rgba(0,0,0,.2)
 }

 .aboutme-container {
  border-left: 10px solid MediumSlateBlue;
  background-color: white;
  box-shadow:0 0 10px 0 rgba(0,0,0,.2);
  -webkit-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
  -moz-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
  -ms-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
  -o-box-shadow:0 0 10px 0 rgba(0,0,0,.2)
 }

 .contact-container {
  border-left: 10px solid MediumSlateBlue;
  background-color: white;
  box-shadow:0 0 10px 0 rgba(0,0,0,.2);
  -webkit-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
  -moz-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
  -ms-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
  -o-box-shadow:0 0 10px 0 rgba(0,0,0,.2)
 }

 .navbar { 
  color: white; 
  background-color: darkslateblue;
}

.profile-img {
  max-width: 360px;
  width:100%;
}

.link-no-decoration {
  text-decoration: none;
}

.contact-link-container {
  height: 40px;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  justify-content: start;
}

.contact-link-text {
  margin-left: 5px;
  text-align: end;
}